* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.elaina {
  border: 1px solid black;
  margin: 0 auto;
  max-width: 480px;
  height: 100vh;
  position: relative;
}

.asuna {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blue;
  width: 100%;
}

.kirito {
  list-style-type: none;
  padding: 8px;
  display: flex;
  width: 100%;
}

.yui {
  flex: 1;
  text-align: center;
}

.shio {
  color: lightblue;
  text-decoration: none;
  font-size: x-large;
  display: block;
}

.shio:hover {
  scale: 120%;
  transition: all 0.2s ease-in-out;
}