* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.elaina {
  border: 1px solid black;
  margin: 0 auto;
  max-width: 480px;
  height: 100vh;
  position: relative;
}

.emilia {
  background-color: blue;
  padding: 18px;
  text-align: center;
  
}

.rem {
  color: gold;
  font-weight: 700;
}

.items {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  padding: 32px;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
  box-shadow: 0px 0px 4px 1px dimgray;
}

.item-image{
  width: 50%;
}

.item-submit{
  background-color: blue;
  padding: 8px 4px;
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  border: none;
}

.item-submit:hover{
  scale: 102%;
  transition: all 0.2s ease-in-out;
}

.page-title {
  padding: 16px;
}

.page-title h3 {
  text-align: center;
  font-weight: 800px;
  font-size: xx-large;
}

.leds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 32px;
}

.led-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: white;
  box-shadow: 0px 0px 4px 1px dimgray;
}

.led-location-text {
  font-weight: 700;
}

.led-image {
  width: 100%;
  object-fit: cover;
}

.led-submit{
  background-color: blue;
  padding: 8px 4px;
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  border: none;
}

.asuna {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blue;
  width: 100%;
}

.kirito {
  list-style-type: none;
  padding: 8px;
  display: flex;
  width: 100%;
}

.yui {
  flex: 1;
  text-align: center;
}

.shio {
  color: lightblue;
  text-decoration: none;
  font-size: x-large;
  display: block;
}

.shio:hover {
  scale: 120%;
  transition: all 0.2s ease-in-out;
}